<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand ml-2" href="#">
      <img src="./assets/logo.png" alt="Logo" width="200" height="50" lass="d-inline-block align-text-top">
    </a>
    <app-search-v></app-search-v>
    <app-upload-v></app-upload-v>
  </div>

</nav>

<div class="main-container">
  
  <div class="left-panel">
    <app-videos-v></app-videos-v>
  </div>
  <div class="right-panel">
   
  </div>
  
</div>
<!--
<div class="main-container">
  <div class="left-panel">
    <a routerLink="/upload"></a>
    <a routerLink="/videos"></a>
  </div>
  <div class="right-panel">
    <a routerLink="/search"></a>
  </div>
</div>

<router-outlet></router-outlet>
-->
